*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.about-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.about-page h1{
    color: rgb(107, 14, 107)
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    border-radius: 10%;
    background-color: rgb(45, 138, 45);
    color: white;
    width: 50%;
    height: 100%;

    margin-left: 20px;
    padding: 10px;
}

.my-profile{
    display: flex;
    justify-content: space-between;
    width: 120%;

}

.information{
    font-size: 18px;
    font-weight: 400;

    margin-bottom: 10px;
    padding: 10px;
}

.information h4{
    font-size: 25px;
}

.information li{
    list-style: none;
    margin-top: 20px;
}

.avatar-about{
    width: 350px;
    height: 100%;
}

.avatar-about img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(20px 10px 15px grey);

    border-radius: 10px;
}

.education{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    margin: 20px auto;
    padding: 15px;
}

.education-text{
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(45, 138, 45);
    color: white;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 10%;
    width: 100%;
  
    margin: auto 40px;
    padding: 10px;
    h2{
        color: rgb(107, 14, 107)
    }
}

.education-text h2,h3{
    margin: 20px 10px;
}

.education-text li{
    list-style: none;
    margin-top: 20px;

    padding: 10px;
}

.tdt-picture{
    width: 100%;
    
}

.tdt-picture img{
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(20px 10px 20px grey);
}



@media screen and (max-width: 1024px ) {
    .about-page{
        flex-direction: column-reverse;
        margin-top: 200px;
    }
    .about-me{
        width: 70%;
        margin-top: 20px;
    }
    .education{
        flex-direction: column-reverse;
    }
    .education-text{
        width: 80%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px ) {
    .about-page{
        flex-direction: column-reverse;
        margin-top: 300px ;
    }
    .about-me{
        width: 80%;
        margin-top: 20px;
    }
    .education{
        flex-direction: column-reverse;
    }
    .education-text{
        width: 80%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px ) {
    .about-page{
        flex-direction: column;
        margin-top: 50px;
    }
    .about-me{
        margin: 20px;
        h1{
            font-size: 16px;
        }
    }
    .information{
        padding: 0;
        h4{
            font-size: 12px;
            margin: 0;
            padding: 0;
        }

    }
    .avatar-about{
        display: none;
    }
    .my-profile{
        font-size: 12px;
    }
    .education{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .education-text{
        width: 100%;
        margin-top: 20px;
    }
}

